.logovet {
    width: 300px;
    height: 150px;
}


body {
    transform: scale(0.9);
    transform-origin: top left;
    width: 111.1111%;
    background: radial-gradient(circle, #5FDECF, #CCF6ED);
    height: 200px;
}



.portada h3 {
    text-align: center;

}

.card.mb-3.mx-auto {
    max-width: 1000px;

}

.localfoto1 {
    margin: auto;
    padding: 1em;
    width: 400px;
    height: 480px;
    margin-right: 20px;

    background-color: #0056b3;
    border: 2px solid #0056b3;
}

.localfoto2 {
    margin: auto;
    padding: 1em;
    width: 400px;
    height: 400px;
    margin-right: 20px;

    background-color: #0056b3;
    border: 2px solid #0056b3;
}

.loginpad {
    margin: 1;
    padding: 3em;
    background: white;
}

footer {
    background: white;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}


.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 18px;
}


.button:hover {
    background-color: #0056b3;
    border: 2px solid #0056b3;
    color: #fff;

}

.titulo {
    background-color: #ECE782;
    border: 2px solid #ECE782;
    width: auto;
    text-align: center;
}

.imagenfooter {
    width: 20%;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group:last-child input[type="submit"] {
    margin-top: 10px;
}


.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-group {
    position: relative;
}

.form-group input[type="password"] {
    padding-right: 40px;

}

.toggle-password-1,
.toggle-password-2,
.toggle-password-3 {
    position: absolute;
    top: 50px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password-1 svg,
.toggle-password-2 svg,
.toggle-password-3 svg {
    fill: #ccc;
    width: 20px;
    height: 20px;
}

.toggle-password-1:hover svg,
.toggle-password-2:hover svg,
.toggle-password-3:hover svg {
    fill: #007bff;
}


.form-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;

}



.button-red:hover {
    background-color: #cc0000;
    border: 2px solid #cc0000;
    color: #fff;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-red {
    margin-top: 2px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ff0000;
    border-radius: 5px;
    font-size: 18px;
}

.button-registro {
    margin-top: 2px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #ECE782;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
}


.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group:last-child input[type="submit"] {
    margin-top: 10px;
}